html, body {
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actions {
    display: flex;
}

.board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

/* top row */
.square:nth-child(-n+3){
    border-bottom: 1px solid black;
}

/* bottom row */
.square:nth-child(n+7){
    border-top: 1px solid black;
}

/* right row */
.square:nth-child(-3n+9){
    border-left: 1px solid black;
}

/* left row */
.square:nth-child(3n+1){
    border-right: 1px solid black;
}