html, body {
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.actions button {
    border-radius: 4px;
}

.actions button:hover {
    background-color: lightblue;
    color: #fff;
}

.player-details form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.player-details label {
    text-align: center;
}

#resetButton {
    background-color: gray;
    color: #fff;
    padding: 6px 8px;
}

#resetButton:hover {
    background-color: lightgray;
    color: #fff;
}

/* Board */
.board {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

/* top row */
.square:nth-child(-n+3){
    border-bottom: 1px solid black;
}

/* bottom row */
.square:nth-child(n+7){
    border-top: 1px solid black;
}

/* right row */
.square:nth-child(-3n+9){
    border-left: 1px solid black;
}

/* left row */
.square:nth-child(3n+1){
    border-right: 1px solid black;
}